# IDE
/.code-workspace/
/.idea/
/.settings/
/.vscode/

# Libraries
/node_modules/

# Local
.env*

# Generated
/dist/
/docs/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
