# IDE
/.code-workspace/
/.idea/
/.settings/
/.vscode/

# Local
/src/assets/
.env*
.*ignore
LICENSE

# Generated
/coverage/
/dist/
/docs/
/node_modules/
package-lock.json
yarn.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
